<nav class="navbar navbar-light bg-light">     
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <a href="{{ path('program_index') }}">Accueil</a>
<a href="{{ path('/') }}">Jeux</a>
<a href="{{ path('/') }}">Lot</a>
<a href="{{ path('/') }}">Connexion</a>
<a href="{{ path('/') }}">Inscription</a>
    <img src="{{assets\images\Logo (1).svg)}} ">
  </div>
</nav>